<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 5.3//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbrms?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="com.rms.model.Categorie" />
        <mapping class="com.rms.model.Commande" />
        <mapping class="com.rms.model.Produit" />
        <mapping class="com.rms.model.Paiement" />
        <mapping class="com.rms.model.Utilisateur" />
        <mapping class="com.rms.model.Restaurateur" />
        <mapping class="com.rms.model.ChefCuisinier" />
        <mapping class="com.rms.model.Administrateur" />
        <mapping class="com.rms.model.Client" />
        
        <mapping class="com.rms.model.LigneCommande"/>
    </session-factory>
</hibernate-configuration>
